.nav__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__link::after {
  content: '';
  display: block;
  bottom: -8px;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(29, 29, 29);
  transition: transform 0.3s;
  transform: scale(0);
}

.nav__link:hover::after {
  transform: scale(1);
}

.nav__list {
  margin: 0 141px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
